.profile {
  .profile-container {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .profile-img {
      padding: 0;
      @media (min-width: 768px) {
        padding-right: 40px;
      }
      img {
        border-radius: 50%;
        height: 110px;
        flex: 1 0;
        width: 110px;
      }
    }
    .profile-details {
      flex: 1 1;
      text-align: center;
      margin-top: 15px;
      @media (min-width: 768px) {
        text-align: left;
        margin-top: 8px;
      }
      .contact-container {
        .profile-email, .profile-location {
          display: block;
          font-size: 0.8em;
          line-height: 22px;
          margin-right: 40px;
          width: 100%;
          @media (min-width: 768px) {
            display: inline;
            width: 50%;
          }
          i {
            margin-right: 10px;
          }
          span, span a {
            color: #333;
          }
        }
      }
    }
  }

  .socials-container {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
    .social-item {
      i {
        margin-right: 10px;
        vertical-align: sub;
      }
    }
  }
}

.experience-list, .education-list {
  .experience-item, .education-item {
    list-style: none;
    margin-bottom: 15px;
    .header {
      line-height: 1.5;
    }
    .dates {
      margin-bottom: 4px;
    }
    .highlights {
      .highlight {
        font-size: 14px;
      }
    }
  }
}

.skills-list {
  .skill-item {
    border-left: 9px solid #555;
    padding-left: 7%;
    .skill {
      margin-right: 7px;
      white-space: pre;
    }
  }
}